[Unit]
Description=Circonus Logwatch Daemon
Documentation=http://github.com/circonus-labs/circonus-logwatch
After=network.target

[Service]
ExecStart=/opt/circonus/logwatch/sbin/circonus-logwatchd
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
